.GroupMain{
    padding: 2% 5%;
  
    .innerGroupGrid{
       padding: 2%;
    }

    .groupButton{
        width: 100%;
        margin: 1%;
    }

    p{
        font-size: large;
    }
}

.groupHeading{
    padding: 1%  4%;
}