.profile{
    padding: 3% 5%;
    .profile_heading{
        color: white;
    }
    .profile_subheading{
        color: white;
        padding-bottom: 2%;
    }
    .profile_interests{
        color: #256EDD;
        display: inline;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 0.5% 3%;
    }
    .profile_interests_div{
        padding-bottom: 5rem;
    }
}