@import "../../styles/variables.scss";

.profile {
  padding: 3% 5%;
  height: 100vh;
  .profile_heading {
    color: white;
  }
  .profile_subheading {
    color: white;
    padding-bottom: 2%;
  }
  .profile_grid {
    @media screen and (max-width: $medium) {
      padding-top: 40px !important;
    }
  }
  .profile_interests {
    color: #256edd;
    display: inline;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4.5% 15%;
  }
  .profile_interests_div {
    padding-bottom: 5rem;
  }
  .profile_button {
    background-color: #ffc800;
    border-radius: 20px;
    padding: 1% 7%;
    float: right;
    text-transform: none;
    margin-top: 5%;
    margin-bottom: 5%;
    &:hover {
      background-color: #ffc800;
    }
  }
}
