.signup{
    background-color: #101619;
  height: 82vh;
  width: 450px;
  padding: 40px;
  color: #FFF;
  font-family:Poppins;
  height: 100vh;
  Button{
    background-color:#FFC800;
     font-family:"Poppins";
     height:50px;
     font-size:1.2rem;
  }
  Link{
    color:white;
    font-family:Poppins;
  }
}